[Unit]
Description=GGProxy v1.1 - Lightweight high performance HTTP/HTTPS and SOCKS5 proxy Service
After=network.target

[Service]
User=ggproxy
Group=ggproxy
ExecStart=/usr/local/bin/ggproxy
Restart=on-failure

[Install]
WantedBy=multi-user.target

